<div class="sidebar">

    <div class="sidebar-header">

        해운대구

    </div>

    <nav class="sidebar-menu">

        <a href="../dashboard/index.html" class="active">

            📊&nbsp;&nbsp;대시보드

        </a>

        <a href="../grandparents/index.html">

            👴&nbsp;&nbsp;조부모 관리

        </a>

        <a href="../grandchildren/index.html">

            👶&nbsp;&nbsp;손주 관리

        </a>

        <a href="../activities/index.html">

            📝&nbsp;&nbsp;활동 관리

        </a>

        <a href="../payments/index.html">

            💰&nbsp;&nbsp;지급 관리

        </a>

        <a href="../notices/index.html">

            📢&nbsp;&nbsp;공지사항

        </a>

        <a href="../settings/index.html">

            ⚙️&nbsp;&nbsp;환경설정

        </a>

    </nav>

</div>